<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ypf.mapper.ArticleMapper">

    <!--查询全部: 审核已通过的-->
    <select id="showAllArticle" resultType="map">
        select article.*,user.username from article,user
        where article.userId=user.id
              and article.deleteFlag = 0
              and article.checkStatus=2
        order by article.date desc
    </select>

    <!--查询全部: 所有状态的-->
    <select id="showArticle" resultType="map">
        select article.*,user.username from article,user
        where article.userId=user.id
          and article.deleteFlag = 0
    </select>

    <!--查询全部：按阅读量降序排列-->
    <select id="showArticleOrderByView" resultType="map">
        select article.*,user.username from article,user
        where article.userId=user.id
          and article.deleteFlag = 0
        order by article.viewCount desc
    </select>

    <!--查询全部: 数目-->
    <select id="showArticleNumber" resultType="int">
        SELECT COUNT(*) FROM article
        where deleteFlag = 0
    </select>

    <!--查询最近7天发布量-->
    <select id="showArticleOrderByDate" resultType="map">
        select a.date,ifnull(b.publishCount,0) as publishCount
               from (
                   SELECT curdate() as date
                   union all
                   SELECT date_sub(curdate(), interval 1 day) as date
                   union all
                   SELECT date_sub(curdate(), interval 2 day) as date
                   union all
                   SELECT date_sub(curdate(), interval 3 day) as date
                   union all
                   SELECT date_sub(curdate(), interval 4 day) as date
                   union all
                   SELECT date_sub(curdate(), interval 5 day) as date
                   union all
                   SELECT date_sub(curdate(), interval 6 day) as date
               ) a left join (
            select date(date) as datetime, count(*) as publishCount
        from article
        group by date(date)
        ) b on a.date = b.datetime;
    </select>

    <!--条件查询：按照文章id查询 所有状态的-->
    <select id="findArticleById" parameterType="int" resultType="map">
        select article.*,user.username from article,user
        where article.userId=user.id
            and article.id=#{id}
            and article.deleteFlag=0
    </select>

    <!--条件查询：按照用户id查询 所有状态的-->
    <select id="findArticleByUserId" parameterType="map" resultType="map">
        select article.*,user.username from article,user
        where article.userId=user.id
          and user.id=#{userId}
          and article.deleteFlag=0
    </select>

    <!--模糊查询: 审核已通过的-->
    <select id="fuzzyFindArticle" parameterType="map" resultType="map">
        select article.*,user.username from article,user
        where (article.title LIKE '%${value}%' OR article.content LIKE '%${value}%')
              and article.userId=user.id
              and article.deleteFlag=0
              and article.checkStatus=2
    </select>

    <!--模糊查询: 所有状态的-->
    <select id="fuzzyArticle" parameterType="map" resultType="map">
        select article.*,user.username from article,user
        where (article.title LIKE '%${value}%' OR article.content LIKE '%${value}%')
          and article.userId=user.id
          and article.deleteFlag=0
    </select>

    <!--添加-->
    <insert id="addArticle" parameterType="Article">
        insert into article (title,content,userId,date,checkStatus)
        values (#{title},#{content},#{userId},#{date},#{checkStatus})
    </insert>

    <!--修改-->
    <update id="updateArticle" parameterType="Article">
        update article
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null">title=#{title},</if>
            <if test="content!=null">content=#{content},</if>
            <if test="viewCount!=0">viewCount=#{viewCount},</if>
            <if test="checkStatus!=0">checkStatus=#{checkStatus},</if>
        </trim>
        where id = #{id} and deleteFlag = 0
    </update>

    <!--删除-->
    <update id="deleteArticle" parameterType="int">
        update article set deleteFlag=1 where id=#{id} and deleteFlag=0
    </update>



</mapper>