<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ypf.mapper.ArticleMapper">

    <!--查询全部-->
    <select id="showAllArticle" resultType="map">
        select article.*,user.username from article,user
        where article.userId=user.id and article.deleteFlag = 0 and article.checkStatus=1 and user.deleteFlag=0
    </select>

    <!--条件查询：按照id查询-->
    <select id="findArticleById" parameterType="int" resultType="map">
        select article.*,user.username from article,user
        where article.userId=user.id and article.id=#{id} and article.deleteFlag=0 and article.checkStatus=1 and user.deleteFlag=0
    </select>

    <!--模糊查询-->
    <select id="fuzzyFindArticle" parameterType="map" resultType="map">
        select article.*,user.username from article,user
        where (article.title LIKE '%${value}%' OR article.content LIKE '%${value}%')
              and article.userId=user.id
              and article.deleteFlag=0
              and article.checkStatus=1
              and user.deleteFlag=0
    </select>

    <!--添加-->
    <insert id="addArticle" parameterType="Article">
        insert into article (title,content,userId,date,checkStatus)
        values (#{title},#{content},#{userId},#{date},#{checkStatus})
    </insert>

    <!--修改-->
    <update id="updateArticle" parameterType="Article">
        update article
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null">title=#{title},</if>
            <if test="content!=null">content=#{content},</if>
            <if test="viewCount!=null">viewCount=#{viewCount},</if>
        </trim>
        where id = #{id} and deleteFlag = 0
    </update>

    <!--删除-->
    <update id="deleteArticle" parameterType="int">
        update article set deleteFlag=1 where id=#{id} and deleteFlag=0
    </update>



</mapper>