<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ypf.mapper.IssuesMapper">

    <!--查询全部-->
    <select id="showAllIssues" resultType="map">
        select issues.*,user.username from issues,user
        where issues.userId=user.id and issues.deleteFlag = 0
    </select>

    <!--条件查询：issues id查询-->
    <select id="findIssuesById" parameterType="int" resultType="map">
        select issues.*,user.username from issues,user
        where issues.userId=user.id and issues.id=#{id} and issues.deleteFlag=0
    </select>

    <!--条件查询：user id查询-->
    <select id="findIssuesByUserId" parameterType="map" resultType="map">
        select issues.*,user.username from issues,user
        where issues.userId=user.id
              and issues.userId=#{userId}
              and issues.deleteFlag=0
    </select>

    <!--模糊查询-->
    <select id="fuzzyFindIssues" parameterType="map" resultType="map">
        select issues.*,user.username from issues,user
        where issues.title LIKE '%${value}%'
              and issues.userId=user.id
              and issues.deleteFlag=0
    </select>

    <!--添加-->
    <insert id="addIssues" parameterType="Issues">
        insert into issues (title,date,userId) values (#{title},#{date},#{userId})
    </insert>

    <!--修改-->
    <update id="updateIssues" parameterType="Issues">
        update issues
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null">title=#{title}</if>
            <if test="viewCount!=0">viewCount=#{viewCount},</if>
        </trim>
        where id=#{id} and deleteFlag=0
    </update>

    <!--修改：更新评论数目-->
    <update id="updateIssuesCommentNum" parameterType="int">
        update issues set commentNum=commentNum+1
        where id=#{id} and deleteFlag=0
    </update>

    <!--删除-->
    <update id="deleteIssuesById" parameterType="int">
        update issues set deleteFlag=1 where id=#{id} and deleteFlag=0
    </update>



</mapper>