<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ypf.mapper.IssuesCommentMapper">

    <!--查询全部-->
    <select id="showAllIssuesComment" resultType="map">
        select issuescomment.*,user.username,issues.title from issuescomment,user,issues
        where issuescomment.userId=user.id
              and issuescomment.issueId=issues.id
              and issuescomment.deleteFlag = 0
    </select>

    <!--条件查询：根据归属问题issueId查询-->
    <select id="findIssuesCommentByIssuesId" parameterType="int" resultType="map">
        select issuescomment.*,user.username,user.photo from issuescomment,user
        where issuescomment.userId=user.id and issuescomment.issueId=#{issueId} and issuescomment.deleteFlag = 0
    </select>

    <!--模糊查询-->
    <select id="fuzzyFindIssuesComment" parameterType="map" resultType="map">
        select issuescomment.*,issues.title,user.username from issuescomment,issues,user
        where (issuescomment.content LIKE '%${value}%' or issues.title like '%${value}%')
              and issuescomment.issueId=issues.id
              and issuescomment.userId=user.id
              and issuescomment.deleteFlag=0
    </select>

    <!--添加-->
    <insert id="addIssuesComment" parameterType="IssuesComment">
        insert into issuescomment (issueId,userId,date,content)
        values (#{issueId},#{userId},#{date},#{content})
    </insert>

    <!--修改-->
    <update id="updateIssuesComment" parameterType="IssuesComment">
        update issuescomment
        <trim prefix="set" suffixOverrides=",">
            <if test="content!=null">content=#{content},</if>
        </trim>
        where id = #{id} and deleteFlag=0
    </update>

    <!--删除-->
    <update id="deleteIssuesComment" parameterType="map">
        update issuescomment set deleteFlag=1 where id=#{id} and deleteFlag=0
    </update>


</mapper>