<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ypf.mapper.VideoMapper">

    <!--查询全部-->
    <select id="showAllVideo" resultType="map">
        select video.*,admin.username from video,admin
        where video.adminId=admin.id and video.deleteFlag = 0
    </select>

    <!--条件查询：按照id查询-->
    <select id="findVideoById" parameterType="int" resultType="map">
        select video.*,admin.username from video,admin
        where video.adminId=admin.id and video.id=#{id} and video.deleteFlag = 0
    </select>


    <!--添加-->
    <insert id="addVideo" parameterType="Video">
        insert into video (title,content,link,adminId,date)
        values (#{title},#{content},#{link},#{adminId},#{date})
    </insert>

    <!--修改-->
    <update id="updateVideo" parameterType="Video">
        update video
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null">title=#{title},</if>
            <if test="content!=null">content=#{content},</if>
            <if test="link!=null">link=#{link},</if>
            <if test="viewCount!=null">viewCount=#{viewCount},</if>
        </trim>
        where id = #{id} and deleteFlag = 0
    </update>

    <!--删除-->
    <update id="deleteVideo" parameterType="int">
        update video set deleteFlag=1 where id=#{id} and deleteFlag=0
    </update>




</mapper>