<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ypf.mapper.VideoMapper">

    <!--查询全部: 审核已通过的-->
    <select id="showAllVideo" resultType="map">
        select video.*,user.username from video,user
        where video.userId=user.id and video.deleteFlag = 0 and video.checkStatus = 2
    </select>

    <!--查询全部: 所有状态的-->
    <select id="showVideo" resultType="map">
        select video.*,user.username from video,user
        where video.userId=user.id and video.deleteFlag = 0
    </select>

    <!--条件查询：按照video id查询 所有状态的-->
    <select id="findVideoById" parameterType="int" resultType="map">
        select video.*,user.username from video,user
        where video.userId=user.id
              and video.id=#{id}
              and video.deleteFlag = 0
              and video.checkStatus = 2
    </select>

    <!--条件查询：按照user id查询 所有状态的-->
    <select id="findVideoByUserId" parameterType="map" resultType="map">
        select video.*,user.username from video,user
        where video.userId=user.id
          and user.id=#{userId}
          and video.deleteFlag = 0
    </select>

    <!--模糊查询: 审核已通过的-->
    <select id="fuzzyFindVideo" parameterType="map" resultType="map">
        select video.*,user.username from video,user
        where (video.title LIKE '%${value}%' OR video.content LIKE '%${value}%')
              and video.userId=user.id
              and video.deleteFlag = 0
              and video.checkStatus = 2
    </select>

    <!--模糊查询: 所有状态的-->
    <select id="fuzzyVideo" parameterType="map" resultType="map">
        select video.*,user.username from video,user
        where (video.title LIKE '%${value}%' OR video.content LIKE '%${value}%')
          and video.userId=user.id
          and video.deleteFlag = 0
    </select>


    <!--添加-->
    <insert id="addVideo" parameterType="Video">
        insert into video (title,content,link,userId,date,checkStatus)
        values (#{title},#{content},#{link},#{userId},#{date},#{checkStatus})
    </insert>

    <!--修改-->
    <update id="updateVideo" parameterType="Video">
        update video
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null">title=#{title},</if>
            <if test="content!=null">content=#{content},</if>
            <if test="link!=null">link=#{link},</if>
            <if test="viewCount!=0">viewCount=#{viewCount},</if>
            <if test="checkStatus!=0">checkStatus=#{checkStatus},</if>
        </trim>
        where id = #{id} and deleteFlag = 0
    </update>

    <!--删除-->
    <update id="deleteVideo" parameterType="int">
        update video set deleteFlag=1 where id=#{id} and deleteFlag=0
    </update>




</mapper>