<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ypf.mapper.WebVisitorNumMapper">

    <!--查询全部: 按照日期降序-->
    <select id="showAllWebNum" resultType="WebVisitorNum">
--         select * from web_visitor_num
--         where DATE_SUB(CURDATE(), INTERVAL 6 DAY) &lt;= date(date) ORDER BY date desc

--             select * from web_visitor_num
--             ORDER BY date desc

            select a.date,ifnull(b.viewCount,0) as viewCount
            from (
                     SELECT curdate() as date
                     union all
                     SELECT date_sub(curdate(), interval 1 day) as date
                     union all
                     SELECT date_sub(curdate(), interval 2 day) as date
                     union all
                     SELECT date_sub(curdate(), interval 3 day) as date
                     union all
                     SELECT date_sub(curdate(), interval 4 day) as date
                     union all
                     SELECT date_sub(curdate(), interval 5 day) as date
                     union all
                     SELECT date_sub(curdate(), interval 6 day) as date
                 ) a left join (
                select date(date) as datetime, count(*) as viewCount
            from web_visitor_num
            group by date(date)
            ) b on a.date = b.datetime;
    </select>
    
    <!--查找最新日期的数据-->
    <select id="findIdByNewDate" resultType="WebVisitorNum">
        select * from web_visitor_num
        where date = CURDATE()
    </select>

    <!--添加-->
    <insert id="addWebNum">
        insert into web_visitor_num (date,viewCount) values (CURDATE(),1)
    </insert>

    <!--修改-->
    <update id="updateWebNum" parameterType="int">
        update web_visitor_num set viewCount = viewCount+1
        where id = #{id}
    </update>



</mapper>